Source: light
Section: x11
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Homepage: https://github.com/haikarainen/light
Build-Depends: debhelper (>= 10)
Vcs-Git: https://github.com/haikarainen/light.git
Vcs-Browser: https://github.com/haikarainen/light/commits/
Standards-Version: 4.2.1

Package: light
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Control display backlight controllers and LEDs
 Light is a useful tool to control display brightness in lightweight
 desktops or window managers that do not have bundled appliations for
 this purpose.
 .
 Most modern laptops have moved away from hardware controlled brightness
 and require software control.  Light works where other software has
 proven to be unreliable, e.g. xbacklight.  It can even be used from the
 console as it does not rely on X.
 .
 Light has features like setting a minimum brightness value, as well as
 saving and restoring the brightness at reboot and startup.
